body {
    color: $dark;
    font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
}

a {
    color: $secondary;

    &:hover,
    &:focus {
        color: $darkorange;
    }
}

.display-1, .display-2, .display-3, .display-4 {
    font-weight: normal;
    line-height: 1;
}

.navbar-brand {
    font-size: 1.75rem;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wpcf7 input[type=submit] {
    background-color: $secondary;
    border: none;
    color: white;

    &:hover,
    &:active,
    &:focus,
    .wpcf7 input:not(:disabled):not(.disabled):active[type=submit] {
        background-color: $darkorange !important;
        border-color: $darkorange !important;
        color: white;
    }

    &:active,
    &:focus
    &:active:focus {
        box-shadow: 0 0 0 0.2rem rgba(244, 126, 79, 0.5) !important;
    }
}

#main-menu {

    li {
        text-align: center;
        width: 100%;

        @media (min-width: 768px) {
            flex: 1 0 auto;
            width: auto;
        }

        a {
            color: white;
            font-size: 1rem;
            font-weight: 600;
            padding-bottom: .75rem;
            padding-top: .75rem;
            text-transform: uppercase;
            transition: .15s ease background-color;

            &:hover,
            &:focus {
                background-color: $primary;
            }
        }
    }

    .dropdown-menu {
        background-color: $primary;
        border: none;
        border-radius: 0 0 4px 4px;
        margin: 0;
        min-width: 100%;
        padding: 0;

        a {
            font-size: 1rem;
            padding: .75rem 0.5rem;

            &:hover,
            &:focus {
                background-color: $success;
            }
        }
    }
}

#secondary-menu {

    a {
        background-color: $secondary;
        border-radius: 4px;
        color: white;
        font-size: 1.15rem;
        margin-left: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: .15s ease background-color, .15s ease box-shadow;

        &:hover,
        &:focus {
            background-color: $darkorange;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(244, 126, 79, 0.5);
        }
    }
}

#wrapper-static-hero {
    background-color: $primary;
    color: white !important;

    .row > div {
        text-align: center;
    }
}

#wrapper-footer-full,
#wrapper-footer {
    background-color: $primary;
    color: white !important;

    a {
        color: white !important;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

#wrapper-footer {
    background-color: $success;
}